@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova-regular.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova-bold.woff") format("woff");
    font-weight: 800;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova-semibold.woff") format("woff");
    font-weight: 700;
}
h1 {
    font-weight: 800;
}
h2, h3 {
    font-weight: 700;
}
h3{
    font-size:20px;
}
p{
    color:$secondary;
}
h2{
    @media (max-width: 768px){
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }
}